@using CityStations.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="Refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Управление информационными табло!</title>
    <link href="https://fonts.googleapis.com/css?family=Kelly+Slab|Press+Start+2P|Roboto+Slab" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Forum|IBM+Plex+Mono:100|Roboto+Condensed:300|Roboto+Mono:100,300|Roboto+Slab:300|Spectral+SC:200,300|Spectral:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0px;">
    <div>
        @Html.Partial("InformationTableView",(InformationTableViewModel)ViewData["InformationTable"] ?? new InformationTableViewModel(), ViewData)
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    <script src="~/Scripts/CityStationsScripts.js"></script>
    <script>
        $(document).ready(function () {
            reloadAllContentTriggerGo();
        });
    </script>
</body>
</html>
