@using CityStations.Models
@model CityStations.Models.ForecastContent
@{
    var cssClass = (string)ViewData["CssClass"];
    List<CityStations.Models.Predict> predicts = null;
    CityStations.Models.WeatherDateTimeContent weatherDateTimeContent = null;
}
@try
{
    predicts = (List<CityStations.Models.Predict>)Model.PresentContent();
}
catch (Exception e)
{
    weatherDateTimeContent = (CityStations.Models.WeatherDateTimeContent)Model.PresentContent();
}
@if (predicts != null && predicts.Count > 0)
{
    foreach (var item in predicts)
    {
    <div class="row informationStationForecast">
        <div class="col-lg-3 col-3 @cssClass @(cssClass + "forecastCssClass")">
            <span>
                <img style="float:left;width:15px;padding-top: 3px;padding-right: 1px;" class="img-responsive" src="@item.TypeBus" />
                @if (!string.IsNullOrEmpty(item.LowFloor))
                {
                    <img style="float: left; width: 15px; padding-top: 3px; padding-right: 1px;" class="img-responsive" src="@item.LowFloor" />
                }
                <p class="@(cssClass + "infotext")">@(item?.NumberBus ?? "")</p>
            </span>
        </div>
        @if (cssClass.Contains("8"))
        {
            <div class="col-lg-7 col-7 @cssClass @(cssClass + "forecastCssClass")">
                <p class="@(cssClass + "infotext")">@(item?.EndStation ?? "")</p>
            </div>
            <div class="col-lg-2 col-2 @cssClass @(cssClass + "forecastCssClass")" style="text-align:right;padding-right:1px;">
                <p class="@(cssClass + "infotext")">@(item?.TimePredict ?? "")</p>
            </div>
        }
        else
        {
            if (string.Equals(item.TimePredict
                                    .Trim()
                                    .ToUpperInvariant(), "ПРИБЫВАЕТ..."))
            {
                <div class="col-lg-5 col-5 @cssClass @(cssClass + "forecastCssClass")">
                    <p class="@(cssClass + "infotext")">@(item?.EndStation ?? "")</p>
                </div>
                <div class="col-lg-3 col-3 @cssClass @(cssClass + "forecastCssClass")">
                    <p class="@(cssClass + "infotext")">@(item?.TimePredict ?? "")</p>
                </div>
            }
            else
            {
                <div class="col-lg-8 col-8 @cssClass @(cssClass + "forecastCssClass")">
                    <p class="@(cssClass + "infotext")">@(item?.EndStation ?? "")</p>
                </div>
                <div class="col-lg-1 col-1 @cssClass @(cssClass + "forecastCssClass")">
                    <p class="@(cssClass + "infotext")">@(item?.TimePredict ?? "")</p>
                </div>
            }
        }
    </div>
    }
}
else
{
    @Html.Partial("WeatherDateTimeView", weatherDateTimeContent ?? (CityStations.Models.WeatherDateTimeContent)Model.PresentContent(), ViewData);
}
